<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <div class="frame-wrapper"> <!-- Add checkered frame wrapper -->

    <div class="page-content"> <!-- Center and contain the actual page -->

      <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
          <%- body %>
        </main>

        <%- include('../partials/footer') %>
      </div>

    </div>

  </div>
</body>
</html>
