<%- include('partials/nav') %>
<h1><%= title %></h1>

<ul class="vehicle-list">
  <% vehicles.forEach(vehicle => { %>
    <li>
      <a href="/vehicle/<%= vehicle.inv_id %>">
        <img src="<%= vehicle.inv_thumbnail %>" alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>">
        <p><%= vehicle.inv_year %> <%= vehicle.inv_make %> <%= vehicle.inv_model %></p>
      </a>
    </li>
  <% }) %>
</ul>
